<div class="row content">
    <div class="content-backcolor-primary content-center col-md-4">
        <img [src]="rutaResourcesImg + 'inicio-sesion/logo-temp.png'" alt="Nuevo Diseño">
    </div>
    <div class="content-backcolor-secondary content-center col-md-8">
        <div class="container rounded py-3 px-4 col-md-8">
            <h4 class="text-center m-0 pb-3">INICIO DE SESIÓN WEB</h4>
            <form #formInicioSesion="ngForm" novalidate>
                <div class="form-group">
                    <label class="labelregistro p-0 m-0">Correo electrónico</label>
                    <input type="text" class="form-control" placeholder="Escribe tu correo" [class.is-invalid]="email.invalid && email.touched" name="email" email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required [(ngModel)]="usuarioModel.email" #email="ngModel">
                    <span class="help-bpx animated fadeIn text-danger" *ngIf="email.invalid && email.touched" style="font-size: 10px;">Escribe un formato valido de correo</span>
                </div>
                <div class="form-group">
                    <label class="labelregistro p-0 m-0">Contraseña</label>
                    <input type="password" class="form-control" placeholder="Escribe una contraseña" [class.is-invalid]="contrasenia.invalid && contrasenia.touched" name="contrasenia" contrasenia pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" required [(ngModel)]='usuarioModel.contrasenia' #contrasenia="ngModel">
                    <span class="help-bpx animated fadeIn text-danger" *ngIf="contrasenia.errors?.required && contrasenia.touched" style="font-size: 10px;">Se requiere que capture su contraseña</span>
                    <span class="help-bpx animated fadeIn text-danger" *ngIf="contrasenia.invalid && contrasenia.touched" style="font-size: 10px;">La contraseña debe tener al menos ocho carácteres, una letra, un número y un carácter especial.</span>
                </div>
                <hr>
                <button title="Acceder" type="submit" class="btn btn-primary btn-block cursor-pointer" [disabled]="formInicioSesion.invalid" (click)="validarSesion()">Acceder</button>
                <hr>
                <p class="text-muted text-center col-lg-12">Elaborado por <a href="https://my.indeed.com/p/0nveg7m" target="_blank">Jacqueline Mireya Salgado</a> - Desarrolladora de software. © 2021</p>
            </form>
        </div>
    </div>
</div>