<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-globe text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Productos</p>
                <p class="card-title">{{productos.length}}
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-3 col-md-2">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-9 col-md-10">
              <div class="numbers">
                <p class="card-category">Ventas</p>
                <p class="card-title">$ {{ventasGenerales[0]?.Total}}
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-vector text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Unidades</p>
                <p class="card-title">{{ventasGenerales[0]?.CantidadVendida}}
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-favourite-28 text-primary"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Top</p>
                <p class="card-title">$ {{topVentas[0]?.Total}}
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Ventas por producto</h5>
          <p class="card-category">Gráfica de dona</p>
        </div>
        <div class="card-body ">
          <div style="display: block">
            <canvas baseChart *ngIf="productos" [colors]="chartColors" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [options]="chartOptions">
            </canvas>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-check"></i> Datos actualizados
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-title">Ganancias por mes</h5>
          <p class="card-category">Gráfica de barras</p>
        </div>
        <div class="card-body">
          <canvas baseChart *ngIf="productos" [colors]="chartColors" [data]="doughnutChartData1" [labels]="doughnutChartLabels1" [chartType]="doughnutChartType" [options]="chartOptions">
          </canvas>
        </div>
        <div class="card-footer">
          <hr/>
          <div class="card-stats">
            <i class="fa fa-check"></i> Datos actualizados
          </div>
        </div>
      </div>
    </div>
  </div>